.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
  }
  .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    > li {
      padding-left: 0.5rem;
      padding-right: 0.5rem;

      > a {
        color: #383838;
        display: block;
        font-weight: 700;
        padding: 0.5rem;

        &:hover {
          color: #cf142b;
        }
      }
    }
    > li + li {
      margin-left: 1rem;
    }
  }
}
